/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Starts from here */
#top-sidebar{
    background-color: #f092a9 ;
    height: 10vh;
    width: 100vw;
}
#top-sidebar-text{
    float: left;
    color: white;
    font-size: 1.5em;
    position: relative;
    position: relative;
    top: 4vh;
    left: 5vw;
    
}
#top-sidebar > img{
    height: auto;
    max-height: 50%;
    float: left;
    position: relative;
    left: 5vw;
    top: 4vh;
}
.page-title{
    color: white;
    width: 100vw;
    height: 15vh;
}
.content-wrapper{
    width:90vw;
    margin: 0 auto;
    text-align: center;
}

.page{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#about-text{
    text-align: right;
    margin: 0 auto;
    padding: 25vh 5vh 25vh 25vh;
    font-size: 1.25em;
    line-height: 1.25em;
}

#about-page-title{
    clear: both;
    background-color: #f09192;

}

div > img {
    max-width: 100%;
    max-height: 100%;
}

#welcome-image {
    text-align: center;
    height: 20vh;
    max-width: 100%;
    max-height: 100%;
    padding: 5vh;
    //border-style: dashed;
    //border-width: 0.15em;

}

#welcome-image > h1 {
    font-size: 2em;
}

#shortcuts{
    height: 50vh;
    padding-top: 1vh;
    border-style: dashed;
    border-width: 0.15em;
    border-left: none;
    border-right: none;
    padding-bottom: 3.5vh;
}
.shortcut{
    height: 50vh;
    width: 20vw;
    float: left;
    padding: 1vw;
    position: relative;
    left: 1vw;
}
.shortcut > img {
    max-height: 100%;
    max-width: 100%;
}

#welcome-page-footer{
    height: 15vh;
}

#experience-page-title {
    background-color: #fdd34e;
}

#works-page-title{
    background-color: #62c6f2;
}

#contact-page-title {
    background-color: #a682b9;
}

#contact-page-content{
    text-align: left;
    padding: 10vh 25vh 5vh 15vh;
}

#experience-page-content{
    overflow-y: visible;
}

#works-page-menu{
    padding:10vh 10vh 5vh 10vh;
    text-align: right;
    border-style: dashed;
    border-width: 0.15em;
}

#works-page-menu > ul > li {
    position: relative;
    display: inline;
    border-style: solid;
    border-width: 0.1em;
    font-size: 2em;
    margin-right: 0.25em;
    border-radius: 0.25em;
    border-color: #c9a063;
    color: #c9a063;
    padding: 0.15em;
}

#works-page-menu > ul > li:hover {0e
    background-color: #c9a063;
    border-color: white;
    color: white;
    
}

#works-page-preview{
    border-style: dashed;
    border-width: 0.15em;
    height: 60vh;
    width: 55vw;
    float: left;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}
#works-page-clearlook {
    border-style: dashed;
    border-width: 0.15em;
    height: 60vh;
    width: 25vw;
    float: left;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
}

form > input {
    border: 2px dashed;
    border-top: none;
    border-right: none;
    border-left: none;
}
#submit {
    border: none;
    margin: 0;
    margin-left:100px;
}

form > textarea {
    border: 2px dashed;
    border-top: none;
    border-left: none;
    border-right: none;
}

form > label {
    float: left;
    text-align: right;
    margin: 0.5em;
    width: 150px;
    margin-right: 1em;
}   

#contact-page-footer{
    text-align: right;
    margin-top: 30vh;
}

#contact-page-footer-links {
    padding-right: 5em;
    border: 1px dashed;    
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 1em;
}
#contact-page-footer-google-and-fb{
    height: 5vh;   
    padding-right: 5em;
}

#contact-page-footer-google-and-fb > img {
    max-height: 100%;
}