div* {
    margin: 0 auto;
}

div p {
    //position: static;
    //top: 50%;
    margin: 0 0 46px 0;
}

a {
    color: white;
    text-decoration: none;
}

#side-bar{
    float:left;
    width:200px;
    height: 100%;
    background-color: slategrey;
    opacity: 0.9;
    position:fixed;
    left:-200px;
    
}
.one-page{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 0;
    background-color: #FF9933;
}
.side-bar-li {
    list-style-type: none;
    border-style:groove;
    border-left: none;
    border-right: none;
    text-align: center;
    margin: 1em ;
    font-size: 1.5em ;
    text-decoration: none;
    width: inherit;
    margin-left: 0;
   
    
}
ul {
    text-align: center;
    margin : 1em;
}
ul li a {
    font-size: 3em ;
}
#menu {
    float: right;
    background-color: white;
    opacity: 0.75;
    z-index: 1;
    position: relative;
}
#works-content {
    float: none ;
    margin-left: 200px;
    
}
.menu-li {
    display: inline-block;
    margin-right: 1em;
}
body {
    left: 200px;
    margin: 0;
    overflow:scroll;
    /*background-color:#DDDDDD;*/
    background-color: #FF9933 ;
    
}

#content {
    text-align: center;
}
#main-wrapper {
    
}
.popout {
    left: 0px;
}
#close-button {
    
}
#menu-button {
    margin-left: 140px;
    float: left;
}
#about-me-top {
    background-image: url(../media/pics/profile-picture.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F5F5F5;
    text-align: center;
    font-family: 標楷體;
    vertical-align: middle;
    line-height: 50em ;
    overflow: hidden;
   
}

#name {
    margin-top: 50%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
h1 {
    font-size: 10em;
  
}

.about-me-div {
    height: 100%;
    width: 100%;
    background-color:white;
    color: white;
    font-family: 新細明體;
    text-align: center;
    vertical-align: middle;
}

.about-me-text {
    position: relative;

}

.about-me-middle {
    background-color: grey;
    height: 100%;
    width:10%;
    display: inline;
    float: left;
}
.about-me-right {
    height: 100% ;
    float: right;
    width: 45%;
    display: inline;
}
.about-me-left {
    height: 100%;
    float: left;
    width: 45%;
    display: inline;
}
.about-me-none {
    height: 100%;
    float: left;
    width: 45%;
    display: inline;
}

#display-div {
	display: none; 
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,0.5);;
	z-index: 2;
	position: fixed;

}

#tmp {
	display: none;
	opacity: 0;
	float: left;
}

#display {
}

.item {
	display: inline-block;
	overflow: hidden;
	height: auto;
	z-index: 0;
	box-shadow:5px 2px 6px #000;
    margin-bottom: 6px;
	cursor: pointer;
}
#front-page-animation {
    margin: 0 auto ;
    text-align: center;
}
